block variables
    -
        var test = {
        span: 'Подробнее'
        }

        var test2 = 'тест2'

block section-3
    section.b-section.b-section--color.services
        .b-section__bg.b-section__bg--color
        .services__body
            .services__header.center
                .services__supertitle.supertitle-section Услуги
                h2.services__title.white-title Выполняем как комплексное обследование, так и&nbsp;отдельные виды работ

            .slider.services__slider
                .slider-item
                    .slider-item__inner
                        .slider-item__img-wrap
                            .slider-item__img
                                img(src="static/images/jpg/service-1.jpg" alt="Общее обследование")
                        .slider-item__text-wrap
                            h3.slider-item__title Общее обследование
                            .slider-item__descr Экспертиза отдельных конструкций, обмерные работы, определение прочности, расчет несущей способности и&nbsp;т.д.
                            .slider-item__more
                                a(href="#")
                                    span Подробнее
                                    +icon('arrow')
                .slider-item
                    .slider-item__inner
                        .slider-item__img-wrap
                            .slider-item__img
                                img(src="static/images/jpg/service-2.jpg" alt="Тепловизионная съемка")
                        .slider-item__text-wrap
                            h3.slider-item__title Тепловизионная съемка
                            .slider-item__descr Исследование системы отопления, вентиляции и&nbsp;кондиционирования, а&nbsp;также оценка энергоэффективности здания
                            .slider-item__more
                                a(href="#")
                                    span Подробнее
                                    +icon('arrow')
                .slider-item
                    .slider-item__inner
                        .slider-item__img-wrap
                            .slider-item__img
                                img(src="static/images/jpg/service-3.jpg" alt="Телеинспекция инженерных сетей")
                        .slider-item__text-wrap
                            h3.slider-item__title Телеинспекция инженерных сетей
                            .slider-item__descr Цветная телевизионная съемка внутренней поверхности любых протяженных объектов до&nbsp;250 метров
                            .slider-item__more
                                a(href="#")
                                    span Подробнее
                                    +icon('arrow')
                .slider-item
                    .slider-item__inner
                        .slider-item__img-wrap
                            .slider-item__img
                                img(src="static/images/jpg/service-4.jpg" alt="Тахеометрическая съемка")
                        .slider-item__text-wrap
                            h3.slider-item__title Тахеометрическая съемка
                            .slider-item__descr.
                                Построение чертежей при помощи лазера, который с&nbsp;точностью до микрона определяет расположение объектов в&nbsp;пространстве
                            .slider-item__more
                                a(href="#")
                                    span Подробнее
                                    +icon('arrow')
        .gradient-line