.services {
    padding-top: 100px;
    padding-bottom: 88px;
    color: #fff;

    .b-section__bg {
        background-image: url("../images/jpg/sec-3.jpg");
    }

    &__supertitle {
        color: #FEE040;
        margin-bottom: 20px;
    }

    &__title {
        color: #fff;
    }
}

.services__slider {
    margin-top: 49px;
    margin-bottom: 56px;

    .slider-item {
        padding: 0 40px;

        &__inner {
            max-width: 400px;
        }

        &__img {
            margin-bottom: 30px;

            img {
                width: 100%;
            }
        }

        &__title {
            color: #fff;
            margin-bottom: 20px;
        }

        &__descr {
            @include font_size-line(16px, 26px);
            margin-bottom: 29px;
        }

        &__more {
            a {
                font-family: "Bebas Neue", sans-serif;
                @include font_size-line(20px, 16px);
                letter-spacing: 7px;
                color: #FEE040;
                text-decoration: none;
                white-space: nowrap;
            }

            .icon {
                width: 21px;
            }
        }
    }
}

.gradient-line {
    width: 574px;
    position: absolute;
    left: 0;
    overflow: hidden;
    margin-left: -262px;
}

@media (max-width: 1220px) {
    .services__slider {
        .slider-item {
            padding: 0 20px;
        }
    }
}

@media (max-width: 576px) {
    .services {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}