.price {
    padding-top: 100px;
    padding-bottom: 100px;

    .b-section__bg--gray:after {
        background-image: url("../images/png/price-iron.png");
    }

    &__header {
        margin-bottom: 39px;
    }

    &__title {
        font-family: "Bebas Neue", sans-serif;
        @include font_size-line(42px, 42px);
        letter-spacing: 5px;
        background: linear-gradient(180deg, #2F80ED 0%, rgba(0, 78, 134, 0.8) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__descr p {
        font-style: italic;
    }

    &__footer {
        display: flex;
        margin-top: 37px;
    }

    &__video {
        display: flex;
        align-items: center;
        margin-right: 75px;
    }

    &__video:hover {
        opacity: .8;
    }

    &__caption {
        color: #151515;
        opacity: 0.7;
        font-weight: bold;
        line-height: 26px;
    }

    .video {
        &__icon {
            @include size(50px, 50px);
            border-radius: 25px;
            background: #FEE040;
            box-shadow: 0px 15px 40px rgba(254, 224, 64, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 20px;

            .icon {
                margin-right: 0;
                bottom: 0;
            }
            .icon:hover {
                color: #000;
            }
        }

        &__title {
            font-family: "Bebas Neue",sans-serif;
            @include font_size-line(20px, 16px);
            text-transform: uppercase;
            letter-spacing: 7px;
            color: #BBBBBB;
        }
    }
}

@media (max-width: 992px) {
    .price {
        .b-section__bg--gray:after {
            display: none;
        }
    }
}

@media (max-width: 576px) {
    .price {
        padding-top: 50px;
        padding-bottom: 50px;

        &__footer {
            flex-wrap: wrap;
        }
        .price__video {
            margin-bottom: 20px;
        }
    }
}