block section-7
    section.b-section.section-7.price
        .b-section__bg.b-section__bg--gray
        .price__body
            .price__row.row
                .price__col.col.col-lg-6.col-sm-12
                    .price__header
                        .price__title Цена железная
                        h2.price__subtitle больше не&nbsp;возьмем ни&nbsp;копейки
                    .price__descr
                        p.
                            «Большинство предпринимателей работают по&nbsp;принципу “назову смешную цену и&nbsp;невыполнимые сроки, а&nbsp;потом им
                             будет некуда деваться”.
                        p.
                            Мы работаем иначе&nbsp;— сразу <strong>называем справедливую цену и&nbsp;реальные даты.
                             И&nbsp;мы гарантируем,</strong> что ни&nbsp;цена, ни&nbsp;сроки не&nbsp;вырастут в&nbsp;процессе.
                        p.
                            С нами Вы получаете прогнозируемый результат: если мы говорим “сделаем за&nbsp;10&nbsp;дней”,
                             значит уложимся в&nbsp;10&nbsp;дней и&nbsp;ни минутой позже.»
                    .price__footer
                        a.price__video(href="#")
                            .video__icon
                                +icon('play')
                            .video__title видеообращение
                        .price__caption
                            span.capitalize Юрий Крупенько,<br>
                            span Руководитель
