block section-2
    section.b-section.section-2
        .b-section__bg.b-section__bg--half-gray

        .section-2__row.row
            .section-2__col.col-lg-4.col-sm-12
                .sec2-left
                    h2 Мы работаем быстро и наши отчеты проходят согласование с первого раза
                    .section-2__text Над вашим объектом работает целая команда: 3 ГИПа (главных инженеров проектов) с опытом работы от 6 лет и 2 штатных сотрудника для камеральных работ
            .section-2__col.col.col-lg-4.col-sm-12
                .sec2-center
                    img(src="static/images/png/tv.png" alt="tv")
            .section-2__col.col-lg-4.col-sm-12
                .sec2-right
                    h3 Вы и Ваши архитекторы получаете:
                    ul.list
                        li Отчет на который на 100% можно положиться
                        li Экономию времени и прогнозируемость сроков
                        li Предварительные результаты сразу на месте
