block section-2
    section.b-section.section-2
        .b-section__bg.b-section__bg--half-gray

        .section-2__row.row
            .section-2__col.col-lg-4.col-sm-12
                .sec2-left
                    h2 Мы работаем быстро и&nbsp;наши отчеты проходят согласование с&nbsp;первого раза
                    .section-2__text Над вашим объектом работает целая команда: 3&nbsp;ГИПа (главных инженеров проектов) с&nbsp;опытом работы от&nbsp;6&nbsp;лет и&nbsp;2&nbsp;штатных сотрудника для камеральных работ
            .section-2__col.col.col-lg-4.col-sm-12
                .sec2-center
                    img(src="static/images/png/tv.png" alt="tv")
            .section-2__col.col-lg-4.col-sm-12
                .sec2-right
                    h3 Вы и&nbsp;Ваши архитекторы получаете:
                    ul.list
                        li Отчет на&nbsp;который на&nbsp;100% можно положиться
                        li Экономию времени и&nbsp;прогнозируемость сроков
                        li Предварительные результаты сразу на&nbsp;месте
