.section-2 {
    padding-top: 57px;
    padding-bottom: 90px;

    &__row {
        align-items: center;
    }

    &__text {
        font-size: 18px;
        line-height: 28px;
        color: #707070;
        opacity: 0.7;
    }
}

.sec2-left, .sec2-right {
    max-width: 460px;
}

.sec2-left {
    h2 {
        margin-bottom: 50px;
    }
}

.sec2-center {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        position: absolute;
    }
}

.sec2-right {
    h3 {
        margin-bottom: 26px;
    }
}

@media (max-width: 992px) {
    .section-2 {
        .b-section__bg--half-gray:before {
            display: none;
        }

        &__col:nth-child(2) {
            display: none;
        }

        &__col {
            margin-bottom: 20px;
        }

        h2 {
            margin-bottom: 25px;
        }

    }
}

