.section-6 {
    padding-top: 100px;
    padding-bottom: 100px;

}

.team__supertitle {
    color: #2F80ED;
    align-items: center;
    transform: rotate(-90deg);
    //position: relative;
    //bottom: 0;
    //left: 0;

    .supertitle-section__gradient-line {
        position: static;
        margin-left: 0;
        @include size(140px, 2px);
        background: linear-gradient(270deg, rgba(254, 224, 64, 0) 0%, #FEE040 100%);
    }
}

.team__slider {
    position: relative;

    .slider-item {
        padding: 0 5px;

        &__inner {
            max-width: 132px;
        }

        img {
            width: 100%;

        }
    }
    .arrow {
        width: 40px;
        height: 40px;
        background: #FEE040;
        box-shadow: 0px 15px 40px rgba(254, 224, 64, 0.2);
        border-radius: 20px;
        position: absolute;
        z-index: 1;
        cursor: pointer;


        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-repeat: no-repeat;
            background-color: transparent;
            background-position: center center;
            background-image: url("../images/svg/arrow-black.svg");
            color: #000;
        }

        &-prev {
            left: -20px;
            top: 50%;
            margin-top: -20px;
        }

        &-next {
            right: -20px;
            top: 50%;
            margin-top: -20px;
            transform: rotate(180deg);
        }
    }
}


@media (max-width: 992px) {
    .team__col:first-child {
        display: none;
    }

}