block section-6
    section.b-section.section-6.team
        .b-section__bg.b-section__bg--white
        .team__body
            .team__row.row
                .team__col.col.col-lg-6.col-sm-12
                    .team__supertitle.supertitle-section.flex
                        .supertitle-section__title Команда
                        .supertitle-section__gradient-line
                .team__col.col.col-lg-6.col-sm-12
                    h2.team__title Наша главная ценность&nbsp;— это кадровый состав
                    .team__descr
                        p.
                            За каждым отчетом стоят люди, которые берут на&nbsp;себя колоссальную ответственность.
                             Поэтому <b>мы не&nbsp;готовы «просто подписать бумажку»</b>.
                        p.
                            Наши обследователи&nbsp;— это аттестованные ГИПы (главные инженеры проектов), главные конструктора, инженеры,
                             термографисты и&nbsp;альпинисты, которые подтверждают свою квалификацию на&nbsp;стажировках и&nbsp;курсах
                             по&nbsp;3&ndash;4&nbsp;раза в&nbsp;году.
                    .slider.team__slider.library
                        .slider-item
                            a.slider-item__inner(href="static/images/jpg/doc-1.jpg")
                                .slider-item__img-wrap
                                    .slider-item__img
                                        img(src="static/images/jpg/doc-1.jpg" alt="doc-1")
                        .slider-item
                            a.slider-item__inner(href="static/images/jpg/doc-2.jpg")
                                .slider-item__img-wrap
                                    .slider-item__img
                                        img(src="static/images/jpg/doc-2.jpg" alt="doc-2")
                        .slider-item
                            a.slider-item__inner(href="static/images/jpg/doc-3.jpg")
                                .slider-item__img-wrap
                                    .slider-item__img
                                        img(src="static/images/jpg/doc-3.jpg" alt="doc-3")
                        .slider-item
                            a.slider-item__inner(href="static/images/jpg/doc-4.jpg")
                                .slider-item__img-wrap
                                    .slider-item__img
                                        img(src="static/images/jpg/doc-4.jpg" alt="doc-4")
                        .slider-item
                            a.slider-item__inner(href="static/images/jpg/doc-5.jpg")
                                .slider-item__img-wrap
                                    .slider-item__img
                                        img(src="static/images/jpg/doc-5.jpg" alt="doc-5")
                        .slider-item
                            a.slider-item__inner(href="static/images/jpg/doc-5.jpg")
                                .slider-item__img-wrap
                                    .slider-item__img
                                        img(src="static/images/jpg/doc-5.jpg" alt="doc-5")
