block section-5
    section.b-section.b-section--color.section-5
        .b-section__bg.b-section__bg--color
        .section-5__body
            .section-5__row.row

                .section-5__col.col.col-lg-4.col-sm-12
                    .item-sec5.item-left
                        h2.white-title
                            span Закажите комплексное обследование и&nbsp;получите тепловизионную съемку
                            span.yellow-txt  в&nbsp;подарок
                .section-5__col.col.col-lg-4.col-sm-12
                    .item-sec5.item-center
                        p.
                            Мы первая в&nbsp;Беларуси компания в&nbsp;составе которой есть аккредитованная тепловизионная лаборатория.
                        p.
                            Наши аттестованные термографисты найдут утечки тепла, определят скрытые дефекты конструкции и&nbsp;подберут
                            систему утепления, которую выдержат стены.

                .section-5__col.col.col-lg-4.col-sm-12.flex
                    .item-sec5.item-right.button-block
                        button.button
                            +icon('download')
                            span.button__text получить коммерческое
                        .item-right__descr.button-block__descr Отправьте техзадание и&nbsp;получите коммерческое предложение в&nbsp;течении 15&nbsp;минут