block section-4
    section.b-section.steps.section-header
        .b-section__bg.b-section__bg--white
        .section-4__body
            .steps__header.center
                .steps__title Мы работаем в комплексе
                .steps__descr чтобы Вы не&nbsp;тратили время на&nbsp;поиск и&nbsp;организацию <br>множества подрядчиков

    section.b-section.steps.section-step1
        .b-section__bg.b-section__bg--gray
        .section-4__body
            .steps__row.row.step-1
                .steps__col.col.col-lg-6.col-sm-12
                .steps__col.col.col-lg-6.col-sm-12

                    .info-step
                        .info-step__header
                            .info-step__step Шаг №&nbsp;1
                            h3.info-step__title Подготовительные работы
                        .info-step__descr.
                            Мы осматриваем здание, делаем замеры и&nbsp;проверяем наличие визуально заметных дефектов:
                            трещин, коррозии, повреждения фундамента и&nbsp;т.д.
                        .info-step__blockquote
                            .blockquote-step
                                .blockquote-step__avatar
                                    img(src="static/images/jpg/person.jpg" alt="Алексей")
                                .blockquote-step__content
                                    .blockquote-step__text.
                                        «Задача этого этапа получить максимально полное представление о&nbsp;конструкции здания,
                                        условиях его эксплуатации и возможных слабых местах»
                                    .blockquote-step__caption
                                        span.capitalize Алексей,
                                        span  обследователь и&nbsp;главный инженер проектов

    section.b-section.steps.section-step2
        .b-section__bg.b-section__bg--white
        .section-4__body
            .step2__header

                .info-step
                    .info-step__header.center
                        .info-step__step Шаг № 2
                        h3.info-step__title Детальное инструментальное обследование
                    .info-step__descr.center.
                        Мы понимаем насколько важны сроки и&nbsp;сколько может стоить день задержки. Поэтому Вы никогда
                        не&nbsp;услышите от&nbsp;нас слов «надо подождать пару дней, пока освободится арендное оборудование»&nbsp;–
                        мы укомплектованы всем необходимым
            .step2__body

                .steps__slider
                    .slider-item
                        .slider-item__item
                            .slider-item__img
                                img(src="static/images/png/inst-img-1.png" alt="Локатор арматуры Profoscope")
                            .slider-item__caption Локатор арматуры “Profoscope”
                    .slider-item
                        .slider-item__item
                            .slider-item__img
                                img(src="static/images/png/inst-img-2.png" alt="Измеритель прочности бетона ОНИКС-1")
                            .slider-item__caption Измеритель прочности бетона «ОНИКС-1»
                    .slider-item
                        .slider-item__item
                            .slider-item__img
                                img(src="static/images/png/inst-img-3.png" alt="Прибор ультразвукового действия ПУЛЬСАР-2")
                            .slider-item__caption Прибор ультразвукового действия «ПУЛЬСАР-2»
                    .slider-item
                        .slider-item__item
                            .slider-item__img
                                img(src="static/images/png/inst-img-4.png" alt="Измеритель прочности бетона Молоток Шмидта")
                            .slider-item__caption Измеритель прочности бетона «Молоток Шмидта»

    section.b-section.steps.section-step3
        .b-section__bg.b-section__bg--gray
        .section-4__body
            .steps__row.row.step-3
                .steps__col.col.col-lg-6.col-sm-12

                    .info-step
                        .info-step__header
                            .info-step__step Шаг №&nbsp;3
                            h3.info-step__title Обработка полученных данных
                        .info-step__descr.
                            Детальный отчет с&nbsp;<a href="#">результатами обследования</a> Вы получите через 7&nbsp;дней.
                            И&nbsp;на его основании сможете определить судьбу объекта и&nbsp;прогнозировать затраты


                        .info-step__list
                            ul.list
                                li Мы оценим техническое состояние объекта и&nbsp;присвоим ему категорию
                                li Объясним причины появления дефектов и&nbsp;повреждений в&nbsp;конструкциях
                                li.
                                    Сформируем техзадание на&nbsp;проектирование мероприятий по восстановлению,
                                    усилению или ремонту конструкций, оборудования и&nbsp;сетей

                .steps__col.col.col-lg-6.col-sm-12
