block section-1
    section.b-section.b-section--color.section-1.section-main
        .b-section__bg.b-section__bg--color
        .section-main__body
            .section-main__row.section-main__header.row
                .col-lg-8.col-sm-12
                    .header-left
                        h1.section-main__title Независимое обследование зданий и сооружений
                        .section-main__text антенн, труб, теплосетей, канализаций и&nbsp;других объектов строительства
                .col-lg-4.col-sm-12
                    .header-right.button-block
                        button.button.section-main__button
                            +icon('download')
                            span.button__text получить коммерческое
                        .section-main__descr.button-block__descr Отправьте техзадание и получите коммерческое предложение в&nbsp;течении 15&nbsp;минут на&nbsp;свой email или в&nbsp;мессенджер

            .section-main__row.section-main__footer
                .tizers-block
                    .row
                        .col-lg-4.col-sm-12
                            .tizer
                                .tizer__icon
                                    img(src="static/images/svg/01.svg" alt="01")
                                .tizer__text Начинаем работать без аванса
                        .col-lg-4.col-sm-12
                            .tizer
                                .tizer__icon
                                    img(src="static/images/svg/02.svg" alt="02")
                                .tizer__text Предоставляем отсрочку платежа
                        .col-lg-4.col-sm-12
                            .tizer
                                .tizer__icon
                                    img(src="static/images/svg/03.svg" alt="03")
                                .tizer__text Всегда называем справедливую цену

                .video-block
                    .video
                        a(href="#")
                            img(src="static/images/png/video.png" alt="video")