@import "common/common";
@import "common/gradient-line";
@import "common/slider";
@import "common/contacts";
@import "common/container";
@import "common/icon";
@import "common/button";
@import "common/list";
@import "common/b-section";
@import "common/section";

@import "header/header";
@import "sections/section-1/section-1";
@import "sections/section-2/section-2";
@import "sections/section-3/section-3";
@import "sections/section-4/section-4";
@import "sections/section-5/section-5";
@import "sections/section-6/section-6";
@import "sections/section-7/section-7";
@import "sections/section-8/section-8";
@import "sections/section-9/section-9";

@import "footer/footer";
