footer.footer
    .b-section__bg.b-section__bg--white
    .container
        .footer__row.row
            .footer__col.col-6.copyright 2016-2019 ООО «Инженерная Диагностика»<br> Все права защищены. Бренд упакован Digital Butlers
            .footer__col.col-6
                .contacts
                    .item-contacts.contacts__email
                        .contacts__text
                            +icon("mail")
                            span Пишите нам на&nbsp;email
                        .contacts__info
                            a(href="mailto: info@idi.by")
                                span info@idi.by
                    .item-contacts.contacts__phone
                        .contacts__text
                            +icon("phone")
                            span Есть вопросы? Звоните!
                        .contacts__info
                            a(href="tel: +375294564545") +375 (29) 456-45-45
                    .item-contacts.contacts__address
                        .contacts__text
                            +icon("home")
                            span Заходите в&nbsp;гости
                        .contacts__info г.&nbsp;Минск, ул.&nbsp;Ленина, д.&nbsp;9, пом.&nbsp;3, оф.&nbsp;10