section.b-section.sec-7.price
    .b-section__bg.b-section__bg--white
    //.container
    .sec-7__body
        //.block__header
        //    .block-left
        //        h1 Независимое обследование зданий и сооружений
        //        .block-left__descr антенн, труб, теплосетей, канализаций и других объектов строительства
        //    .block-right
        //        button получить коммерческое
        //        .block-right__descr Отправьте техзадание и получите коммерческое предложение в течении 15 минут на свой email или в мессенджер
        //.block__row
        //    .block-left
        //    .block-right
        //        img(src="./images/png/video.png" alt="")