body {
    font-family: "Proxima Nova", sans-serif;
    font-style: normal;
    @include font_size-line(18px, 28px);
    font-weight: normal;
    letter-spacing: -0.5px;
    position: relative;
    background-color: #c1c1c1;
}
.go-top {
    position: fixed;
    bottom: 20px;
    right: 20px;

    .icon {
        width: 50px;
        height: 50px;
    }
}

h1 {
    font-family: "Gilroy", sans-serif;
    @include font_size-line(42px, 51px);
}

h2 {
    font-family: "Gilroy", sans-serif;
    @include font_size-line(32px, 42px);
    color: #151515;
}

h3 {
    font-family: "Proxima Nova", sans-serif;
    font-weight: bold;
    @include font_size-line(24px, 34px);
    color: #151515;
}

.supertitle-section {
    font-family: "Bebas Neue", sans-serif;
    @include font_size-line(20px, 16px);
    letter-spacing: 20px;
    text-transform: uppercase;
}

.bg {
    overflow: hidden;
    min-width: 300px;
    position: relative;

    .outer-bg {
        max-width: 1920px;
        margin: 0 auto;
        position: relative;
    }
}

.g-main {
    position: relative;
    top: -89px;
    margin-bottom: -89px;
}

.capitalize {
    text-transform: uppercase;
}

@media (max-width: 992px) {
    h1 {
        @include font_size-line(37px, 47px);
    }

    h2 {
        @include font_size-line(28px, 38px);
    }

    h3 {
        @include font_size-line(20px, 30px);
    }

}