block section-9
    section.b-section.b-section--color.section-9
        .b-section__bg.b-section__bg--color
        .section-9__body
            .section-9__header.center
                h2.section-9__title.white-title
                    span.yellow-txt Узнайте точную стоимость
                    span  обследования Вашего объекта
                .section-9__descr Отправьте нам техзадание, ответив на несколько вопросов, и Вы получите коммерческое предложение в течении 10-15 минут
                button.button
                    +icon('check-mark')
                    span.button__text Узнать стоимость обследования


