.section-9 {
    padding-top: 100px;
    padding-bottom: 112px;

    .b-section__bg {
        background-image: url("../images/jpg/sec-9.jpg");
    }

    h2 {
        margin-bottom: 29px;
    }

    &__descr {
        font-weight: 600;
    }
    .button {
        margin-top: 29px;
    }

}