section.b-section.b-section--color.sec-1.sec-main
    .b-section__bg.b-section__bg--color
    //.container
    .sec-main__body
        .sec-main__row.sec-main__header.row
            .col-8
                h1.sec-main__title Независимое обследование зданий и сооружений
                .sec-main__text антенн, труб, теплосетей, канализаций и других объектов строительства
            .col-4
                button получить коммерческое
                .block-right__descr Отправьте техзадание и получите коммерческое предложение в течении 15 минут на свой email или в мессенджер
        .sec-main__row.row
            .block-left
            .block-right
                img(src="./images/png/video.png" alt="")