extends base/pug/main

block variables
    - var title = "Diagnostics"

block section-1
    include components/sections/section-1/section-1

block section-2
    include components/sections/section-2/section-2

block section-3
    include components/sections/section-3/section-3

block section-4
    include components/sections/section-4/section-4

block section-5
    include components/sections/section-5/section-5

block section-6
    include components/sections/section-6/section-6

block section-7
    include components/sections/section-7/section-7

block section-8
    include components/sections/section-8/section-8

block section-9
    include components/sections/section-9/section-9