extends base/pug/main

block variables
    - var title = "Diagnostics"



block sec-1
    include components/sections/sec-1/sec-1

block sec-2
    include components/sections/sec-2/sec-2

block sec-3
    include components/sections/sec-3/sec-3

block sec-4
    include components/sections/sec-4/sec-4

block sec-5
    include components/sections/sec-5/sec-5

block sec-6
    include components/sections/sec-6/sec-6

block sec-7
    include components/sections/sec-7/sec-7

block sec-8
    include components/sections/sec-8/sec-8

block sec-9
    include components/sections/sec-9/sec-9